<div class="d-inline-block">
  <h2 class="bg-warning text-white">教科の一覧・編集</h2>
</div>

<table>
  <tr class="bg-dark text-white h5 table-bordered border-dark">
    <th style="text-align: center;">ＩＤ</th>
    <th colspan="2">教科</th>
  </tr>
  <% @subjects.each do |subject| %>
    <tr class="h6 table-bordered border-dark">
      <td><%= subject.id %></td>
      <td style="width: 200px;"><%= subject.subject_name %></td>
      <td><%= link_to "編集する", edit_admin_subject_path(subject.id), class: "btn btn-success" %></td>
    </tr>
  <% end %>
</table>