<div class="d-inline-block">
  <h2 class="bg-primary text-white">退会確認画面</h2>
</div>

<table>
  <tr>
    <td colspan="2", class="text-center h2">本当に退会しますか？</td>
  </tr>
  <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
  <tr class="text-center">
    <td><%= link_to "いいえ", learner_path(current_learner), class:"btn btn-primary" %></td>
    <td><%= link_to "退会する", learners_withdraw_path, method: :patch, class:"btn btn-danger" %></td>
  </tr>
</table>