<div class="h2 text-center pt-4">
  <p class="pt-4">ようこそ、Study Zoneへ！</br></p>
  <p class="pt-4">このサイトでは、</br></p>
  <p class="pt-4">学習者同士が問題を出し合い、</br></p>
  <p class="pt-4">お互いが成長していくことを</br></p>
  <p class="pt-4">目指しています！</p>
</div>