<div class="h2 text-center pt-4">
  <p class="pt-4">ようこそ、Study Zoneへ！</br></p>
  <p class="pt-4">管理者は、学習者・問題の</br></p>
  <p class="pt-4">削除・編集が可能です。</br></p>
  </br>
  <p class="pt-4">より良い学習のサポートを</br></p>
  <p class="pt-4">よろしくお願いします。</p>
</div>